.main-container.spins.party-poker {
    position: relative;
    background-color: lightgrey;
    /*background-image: url("Partypoker_Spin&Go.png");*/
    border: 1px solid red;
    width: 712px;
    height: 518px;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.main-container.spins.party-poker .player,
.main-container.spins.party-poker .prompt {
    position: absolute;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    padding: 3px;
}

.main-container.spins.party-poker .prompt {
    border: none;
    left: 250px;
    top: 200px;
    font-size: 20px;
    width: 200px;
}

.diagram {
    display: flex;
    margin: 15px 0;
}

.diagram > div {
    height: 20px;
}

.diagram .fold {
    background-color: black;
}
.diagram .check-call {
    background-color: yellow;
}
.diagram .bet-raise {
    background-color: red;
}

.main-container.spins.party-poker .player .nickname {
    position: absolute;
    top: -20px;
}

.main-container.spins.party-poker .player.player0 {
    left: 50px;
    top: 80px;
}

.main-container.spins.party-poker .player.player1 {
    right: 50px;
    top: 80px;
}

.main-container.spins.party-poker .player.player2 {
    left: 250px;
    bottom: 100px;
}

.red {
    color: red;
}

.green {
    color: #50b22f;
}

